[Unit]
Description=Run nodejs app api-movie
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=tatiana
WorkingDirectory=/var/www/api-movie.things.tools
ExecStart=/bin/bash ./run-debug.sh

[Install]
WantedBy=multi-user.target
